body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #132737;
  text-align: center;
  margin-top: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.loginForm {
  width: 80%;
  margin: auto;
}

.formInput {
  border-radius: 5px;
  width: 100%;
  height: 30px;
  padding: 10px 10px;
  background-color: lightgray;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
}

.mymodal {
  width: 500px;
}

.landingAuth {
  background-color: lightsalmon;
  width: 100%;
  height: 100%;
  text-align: center;
}

.btnLoading {
  text-transform: none;
  font-size: 16;
  padding: 6px 22px;
}

.form-auth {
  margin: 10%;
}

.form-auth-h2 {
  text-align: center;
}

.form-auth-loading-btn {
  display: flex;
  justify-content: center;
}

.form-auth-error-input {
  color: red;
}

.tooltip {
  border-radius: 0.25rem;
  background: #26313c;
  color: #fff;
  padding: 1rem;
  box-shadow: 15px 30px 40px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.btnCharts-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
}

.btnCharts {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 1;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /* cursor: pointer; */
  border: 1px solid transparent;
  border-radius: 4px;
  width: 45%;
}

.btnCharts-2{
  background-color: rgba(194, 245, 160, 0.6);
}

.btnCharts-1{
  background-color: rgba(231, 187, 217, 0.6);
}

h2 {
  color: white;
}

p {
  color: white;
}

.acc-info {
  margin: 10%;
}

.acc-info span {
  color: aqua;
  font-size: 18px;
  margin-right: 5px;
}
/*mobile responsive*/
@media screen and (max-width: 700px) {
  .mymodal {
    width: 90%;
  }
  .btnCharts-group{
    display: inherit;
  }
  .btnCharts{
    width: 100vw;
  }
}
